@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

/*config*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}


/*1era parte*/

.navbar{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-between;
    padding: 45px;
    color: whitesmoke;
    background-color: black;
    font-size: 20px;
}


.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 10px;
    padding-bottom: 0px;
    padding-right: 60px;
    list-style: none;
}


.nav-links li .ctn{
    padding: 45px;
    margin-right: 5px;
    height: 10px;
    background: #78288c;
    border-radius: 30px;
    color: whitesmoke;
}


.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
}

/*2da parte*/

header{
    width: 100vw;
    height: 97vh;
    background-image: url(../imagenes/fondos/fondo1a.jpg);
    background-position: bottom;
    background-size: cover;
    justify-content: center;
    align-items: center;
   
   
}

/*3ra parte*/

.chapters-2{
    width: 50%;
    height: 4354px;
    background-color: orangered;
    float: left;
    
    text-align: center;
}

.chapters-1{
    width: 50%;
    height: auto;
    background-color: #FFFF66;
    float: left;
    
    text-align: center;
    
}

ol{
    list-style: none;
}

/* 3ra parte */

.account{
    width: 100%;
    height: 98vmin;
    background-image: url(../imagenes/fondos/fondo3.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    
}

.account-content{
    height: 612px;
    width: 400px;
    padding-top:55px;
    padding-left: 40px;
    margin-left: 870px;
    background-color: orangered;
    border-radius: 15px;
}

/* footer */

.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: black;
    color: whitesmoke;
    text-align: center;
    float: left;
}